$breakpoints: (
  xs: "screen and (max-width: 575.98px)", //SPデバイス(576px以下)
  sm: "(min-width: 576px) and (max-width: 767.98px)", //小デバイス（横向きモバイル,576px以上）
  md: "(min-width: 768px) and (max-width: 991.98px)", //中デバイス（タブレット,768px以上）
  pc: "(min-width: 992px)", //大デバイス（デスクトップ,992px以上）
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin col($i) {
  width: 100% / 12 * $i;
}

//extend
%positionAbsolute {
  position: absolute;
  top: 0;
  left: 0;
}

%navlist {
  font: {
    family: Helvetica, Arial, sans-serif;
    weight: bold;
    size: rem(16);
  }
  transition: .4s;
  padding-bottom: rem(5);
  position: relative;
}

%navlistAfter {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $black;
  transition: .5s;
  opacity: 0;
}

%navlistHover {
  color: rgba($black, .4);
}

%navlistHoverAfter {
  bottom: -5px;
  opacity: 1;
}

