//base font size
$baseFontSize: 14;

//media query same settings
$tablets: xs, sm, md;

//font settings
$mincho: "Noto Serif JP", serif;
$gothic: "Noto Sans JP", sans-serif;

//color settings
$white: #fff;
$black: #000;
$lightBlack: #444;

//gradient
$jobGreen: linear-gradient(to right, #179768, #f5e843);
